.p-hero {
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    &__container {
        height: 100vh;
    }
    
    &__title {
        grid-column: 1 / -1;
        color: var(--color-white);
        @include breakpoint(from-medium) {
            grid-column: 1 / 6;
        }
    }
}
