.block-404 {
    min-height: 100vh;
    
    // &__container {}
    
    &__content {
        &-title {
            font-size: var(--font-s-404);
        }
        &-text {
            font-family: var(--font-f-body);
            font-weight: var(--font-w-p);
        }
        // &-link {}
    }
}
