.block-last-news {
    position: relative;
    
    &__shapes {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &-rectangle {
            position: absolute;
            top: 5vh;
            left: 10vw;
            transform: rotate(-45deg);
        }
        &-circle {
            position: absolute;
            top: -10vh;
            right: 10vw;
            transform: rotate(120deg);
        }
    }
    
    // &__title {
    //     // &-title {}
    //     // &-subtitle {}
    // }
    
    // &__content {}
    
    &__list {
        list-style: none;
        // &-item {}
    }
}
