.block-cta {
    position: relative;
    z-index: 0;
    
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: var(--color-night);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    
    // &__container {}
    
    &__content {
        color: var(--color-white);
        grid-column: 1 / -1;
        @include breakpoint(from-small) {
            padding: var(--space-xl);
        }
        @include breakpoint(to-medium) {
            grid-column: span 6;
        }
        @include breakpoint(from-medium) {
            padding: var(--space-2xl) var(--space-4xl);
            grid-column: 1 / 8;
        }
        // &-title {}
        // &-text {}
        // &-link {}
    }
}
