.block-simple-new {
    
    // &__header {}
    
    &__content {
        &-featured {
            @include breakpoint(from-medium) {
                margin-top: -24vh;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        &-excerpt {
            p {
                font-weight: var(--font-w-500);
            }
        }
        &-texts {
            h1, h2, h3, h4, h5, h6 {
                margin: var(--space-l) 0 var(--space-s) 0;
                &:nth-child(1) {
                    margin-top: 0;
                }
            }
            h4, h5, h6 {
                margin: var(--space-s) 0;
            }
            p {
                margin: var(--space-s) 0;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}
