.block-last-topics {
    
    // &__container {}
    
    &__sidebar {
        grid-column: 1 / -1;
        position: relative;
        z-index: 0;
        color: var(--color-white);
        background-color: var(--color-night);
        @include breakpoint(from-medium) {
            padding-top: var(--space-m);
            grid-column: 1 / 5;
        }
        &-background {
            width: 100%;
            height: 25%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            @include breakpoint(from-medium) {
                height: 15%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        &-user {
            &-profile {
                width: 88px;
                height: auto;
                aspect-ratio: 1 / 1;
                display: block;
                border-radius: 100%;
                @include breakpoint(from-small) {
                    margin-bottom: var(--space-xs);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: inherit;
                }
            }
            // &-name {}
            &-since {
                opacity: 0.6;
            }
        }
        &-menu {
            &-list {
                gap: var(--space-3xs);
                list-style: none;
            }
            &-item {
                transition: 0.5s var(--Power4EaseOut);
                @include breakpoint(from-medium) {
                    &:hover {
                        padding-left: var(--space-2xs);
                    }
                }
            }
            &-link {
                display: inline-flex;
                gap: var(--space-2xs);
                color: inherit;
                // &-icon {}
                &-text {
                    font-weight: var(--font-w-500);
                }
            }
        }
    }
    
    &__content {
        grid-column: 1 / -1;
        @include breakpoint(from-medium) {
            margin-top: 0;
            padding-left: var(--space-xl);
            grid-column: 5 / -1;
        }
        // &-title {}
        &-link {
            @include breakpoint(from-small) {
                flex-direction: row;
            }
        }
    }
    
    &__list {
        list-style: none;
        & > :last-child {
            & > * {
                border-bottom: solid 1px;
            }
        }
    }
}
