.block-forum {
    
    // &__container {}
    
    &__forum {
        width: 100%;
        &-sidebar {
            flex-direction: row;
            flex-wrap: wrap;
            border: none;
            @include breakpoint(from-small) {
                margin-top: var(--space-2xl);
                margin-bottom: 0;
                grid-column: 1 / 3;
                flex-direction: column;
                border-right: solid 1px rgba(18, 49, 78, 0.20);
            }
        }
        &-tags {
            width: calc((100% - var(--grid-gap)) / 2);
            @include breakpoint(from-small) {
                width: 100%;
                &:not(:first-child) {
                    margin-top: var(--space-m);
                }
            }
            &-title {
                display: block;
                font-size: var(--font-s-small);
                font-weight: var(--font-w-600);
                line-height: var(--font-lh-small);
                opacity: 0.65;
            }
            &-list {
                max-height: 15vh;
                display: block;
                list-style: none;
                overflow: scroll;
                border: solid 1px rgba(18, 49, 78, 0.20);
                @include breakpoint(from-small) {
                    max-height: none;
                    border: none;
                }
            }
            &-item {
                display: block;
                &:hover {
                    background-color: rgba(18, 49, 78, 0.10);
                }
                &.active {
                    background-color: rgba(18, 49, 78, 0.10);
                    .block-forum__forum-tags-link {
                        font-weight: var(--font-w-600);
                    }
                }
            }
            &-link {
                width: 100%;
                height: 100%;
                display: block;
                font-weight: var(--font-w-p);
            }
        }
        &-content {
            @include breakpoint(from-small) {
                margin-left: var(--space-s);
                grid-column: 3 / -1;
            }
            &-header {
                @include breakpoint(from-small) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                @include breakpoint(from-medium) {
                    justify-content: flex-end;
                }
            }
            &-title {
                width: 100%;
                margin-right: auto;
                margin-left: 0;
                @include breakpoint(from-medium) {
                    width: auto;
                }
            }
            &-form {
                width: 100%;
                display: flex !important;
                align-items: center;
                @include breakpoint(from-medium) {
                    width: auto;
                }
            }
            .c-form {
                &__field {
                    &--search {
                        flex: 1 1 85%;
                        position: relative;
                        z-index: 0;
                        .c-form__field--search-icon {
                            width: auto;
                            height: calc(100% - (var(--space-xs) * 2));
                            position: absolute;
                            top: 50%;
                            left: var(--space-xs);
                            z-index: 0;
                            transform: translateY(-50%);
                            user-select: none;
                            pointer-events: none;
                            opacity: 1;
                            transition: 0.5s var(--Power4EaseOut);
                        }
                        &:has(input:not(:placeholder-shown)) {
                            .c-form__field--search-icon {
                                transform: translateY(-50%) translateX(-100%);
                                opacity: 0;
                            }
                        }
                        input {
                            &::placeholder {
                                padding-left: calc(var(--space-xs) + var(--space-3xs));
                            }
                        }
                    }
                    &--select {
                        flex: 1 1 15%;
                    }
                    &-filter {
                        font-size: var(--font-s-p);
                        font-weight: var(--font-w-600);
                        line-height: var(--font-lh-p);
                    }
                }
            }
            // &-new {}
            // &-list-container {}
            &-list-header {
                margin-bottom: var(--space-xs);
                gap: var(--space-xs);
                @include breakpoint(from-medium) {
                    display: flex;
                }
                &__texts {
                    flex: 1 2 70%;
                    font-weight: var(--font-w-h6);
                    opacity: 0.65;
                }
                &__metas {
                    flex: 1 2 15vw;
                    gap: inherit;
                    opacity: 0.65;
                    &-comments,
                    &-views {
                        flex: 1 1 50%;
                        font-weight: var(--font-w-h6);
                        text-align: center;
                    }
                }
            }
            &-list {
                list-style: none;
                .c-topic-card {
                    // &__image {}
                    // &__texts {}
                    &__metas {
                        flex-direction: row;
                        &-comments,
                        &-views {
                            @include breakpoint(from-medium) {
                                flex: 1 1 50%;
                            }
                            // &-icon {}
                            &-text {
                                font-weight: var(--font-w-p);
                            }
                        }
                    }
                }
                & > :last-child {
                    & > * {
                        border-bottom: solid 1px;
                    }
                }
            }
            // &-comment {}
            &-answers {
                // &-title {}
                &-list {
                    list-style: none;
                    &-item {
                        border: none;
                        border-top: solid 1px rgba(0, 177, 170, 0.4);
                        &:last-of-type {
                            border-bottom: solid 1px rgba(0, 177, 170, 0.4);
                        }
                    }
                }
            }
        }
    }
    
    // &__title {
    //     // &-title {}
    //     &-subtitle {
    //         grid-column: 1 / -1;
    //         @include breakpoint(from-small) {
    //             grid-column: 2 / 8;
    //         }
    //         @include breakpoint(from-medium) {
    //             grid-column: 3 / 11;
    //         }
    //     }
    // }

    // &__content {}
    
    // .swiper,
    // &__slider {
    //     &-wrapper,
    //     &-swiper-wrapper {
    //         display: flex;
    //         gap: var(--grid-gap);
    //     }
    //     &-slide,
    //     &-swiper-slide {
    //         &-image {
    //             &-link {
    //                 width: 100%;
    //                 height: 100%;
    //                 display: block;
    //                 img {
    //                     width: 100%;
    //                     height: 100%;
    //                     object-fit: cover;
    //                     object-position: center center;
    //                 }
    //             }
    //         }
    //         // &-title {}
    //     }
    //     &-footer {
    //         @include breakpoint(from-small) {
    //             flex-direction: row;
    //         }
    //     }
    //     // &-arrows {}
    //     // &-scrollbar {}
    //     // &-link {}
    // }
    
    // &__list {
    //     list-style: none;
    //     // &-item {}
    // }
}
