.block-simple-galerie {
    
    // &__header {}
    
    &__content {
        position: relative;
        z-index: 0;
        &-texts {
            h1, h2, h3, h4, h5, h6 {
                margin: var(--space-l) 0 var(--space-s) 0;
                &:nth-child(1) {
                    margin-top: 0;
                }
            }
            h4, h5, h6 {
                margin: var(--space-s) 0;
            }
            p {
                margin: var(--space-s) 0;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    &__slider {
        @include breakpoint(from-medium) {
            margin-top: -200px;
        }
        // &-wrapper,
        // &-swiper-wrapper {}
        &-slide,
        &-swiper-slide {
            &-image {
                &-link {
                    width: 100%;
                    height: 100%;
                    display: block;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }
            }
        }
        &-buttons {
            &-item {
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 15%;
                z-index: 1;
                border: solid 1px rgb(18, 49, 78, 0.2);
                border-radius: 100%;
                background-color: var(--color-white);
                cursor: pointer;
                transition: 0.5s var(--Power4EaseOut);
                @include breakpoint(from-small) {
                    top: 30%;
                }
                &:hover {
                    border-color: var(--color-yellow);
                    background-color: var(--color-yellow);
                    svg {
                        path {
                            stroke: var(--color-night);
                        }
                    }
                }
            }
            &-prev {
                left: calc(0px - var(--space-s));
                @include breakpoint(from-small) {
                    transform: translateY(-50%) translateX(-100%);
                }
            }
            &-next {
                right: calc(0px - var(--space-s));
                @include breakpoint(from-small) {
                    transform: translateY(-50%) translateX(100%);
                }
            }
        }
    }
    
    &__slider-thumbs {
        margin: var(--space-m) !important;
        @include breakpoint(from-medium) {
            margin: var(--space-m) calc(var(--space-4xl) * 2) 0 calc(var(--space-4xl) * 2) !important;
        }
        // &-wrapper,
        // &-swiper-wrapper {}
        &-slide,
        &-swiper-slide {
            &-image {
                width: 100%;
                height: 100%;
                display: block;
                aspect-ratio: 1 / 1;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
}
