.block-login {
    min-height: calc(100vh - var(--header-height));
    @include breakpoint(from-big) {
        margin-top: calc(var(--space-4xl) + var(--header-height));
        min-height: auto;
    }
    
    &__container {
        background-color: var(--color-light);
    }
    
    &__content {
        grid-column: 1 / -1;
        @include breakpoint(to-medium) {
            padding: var(--space-l) var(--space-xl);
            grid-column: 1 / 6;
        }
        @include breakpoint(from-medium) {
            padding: var(--space-xl) var(--space-2xl);
            grid-column: 1 / 9;
        }
        // &-title {}
        // &-form {}
    }
    
    &__image {
        width: 100%;
        height: 100%;
        grid-column: 1 / -1;
        @include breakpoint(from-small) {
            grid-column: 6 / -1;
        }
        @include breakpoint(from-medium) {
            grid-column: 9 / -1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}
