// scrollbar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none;
}
::-webkit-scrollbar-track {
    background: var(--color-white);
}
::-webkit-scrollbar-thumb {
    background: var(--color-black);
}

// selection
// ::-moz-selection {
//     color: var(--color--white);
//     text-shadow: none;
//     background-color: var(--color--black);
// }
// ::selection {
//     color: var(--color--white);
//     text-shadow: none;
//     background-color: var(--color--black);
// }

html {
    color: var(--color-night);
    font-family: var(--font-f-body);
    font-size: var(--font-size);
    line-height: 1.3;
    background-color: var(--color-white);
    scroll-behavior: initial;
}

body {
    position: relative;
    .c-main {
        position: relative;
    }
}
