:root {
    
    // colors
    & {--color-night: #12314e;}
    & {--color-teal: #00b1aa;}
    & {--color-yellow: #ffde16;}
    & {--color-light: #f6f7f8;}
    & {--color-white: #ffffff;}
    & {--color-grey: #7f7f7f;}
    & {--color-black: #000000;}
    & {--color-error: #ff0000;}
    
    // fonts
    // & {--font-f-heading: "NAME", sans-serif;}
    // & {--font-f-body: "NAME", sans-serif;}
    & {--font-f-heading: sans-serif;}
    & {--font-f-body: sans-serif;}
    
    // & {--font-size: calc(15px + 0.390625vw);}
    & {--font-size: 16px;}
    
    & {--font-s-h1: 3rem;}
    & {--font-s-h2: 2.5rem;}
    & {--font-s-h3: 2rem;}
    & {--font-s-h4: 1.5rem;}
    & {--font-s-h5: 1.25rem;}
    & {--font-s-h6: 1rem;}
    & {--font-s-p: 1rem;}
    & {--font-s-small: 0.85rem;}
    & {--font-s-big: 2rem;}
    @include breakpoint(from-small) {
        & {--font-s-h1: 4rem;}
        & {--font-s-h2: 3rem;}
        & {--font-s-h3: 2rem;}
        & {--font-s-h4: 1.5rem;}
        & {--font-s-h5: 1.25rem;}
        & {--font-s-h6: 1rem;}
        & {--font-s-p: 1rem;}
        & {--font-s-small: 0.85rem;}
        & {--font-s-big: 2rem;}
    }
    @include breakpoint(from-medium) {
        & {--font-s-h1: 5rem;}
        & {--font-s-h2: 3rem;}
        & {--font-s-h3: 2.5rem;}
        & {--font-s-h4: 2rem;}
        & {--font-s-h5: 1.5rem;}
        & {--font-s-h6: 1.25rem;}
        & {--font-s-p: 1rem;}
        & {--font-s-small: 0.85rem;}
        & {--font-s-big: 2rem;}
    }
    // @include breakpoint(from-large) {}
    
    & {--font-w-h1: 700;}
    & {--font-w-h2: 700;}
    & {--font-w-h3: 700;}
    & {--font-w-h4: 700;}
    & {--font-w-h5: 700;}
    & {--font-w-h6: 700;}
    & {--font-w-p: 400;}
    & {--font-w-500: 500;}
    & {--font-w-600: 600;}
    
    & {--font-lh-h1: 1.2;}
    & {--font-lh-h2: 1.2;}
    & {--font-lh-h3: 1.2;}
    & {--font-lh-h4: 1.2;}
    & {--font-lh-h5: 1.2;}
    & {--font-lh-h6: 1.2;}
    & {--font-lh-p: 1.35;}
    & {--font-lh-small: 1.2;}
    
    & {--font-ls-h1: normal;}
    & {--font-ls-h2: normal;}
    & {--font-ls-h3: normal;}
    & {--font-ls-h4: normal;}
    & {--font-ls-h5: normal;}
    & {--font-ls-h6: normal;}
    & {--font-ls-p: normal;}
    
    // spacing
    & {--base-unit: clamp(0.5rem, 0.5vw + 0.5rem, 1rem);}
    @include breakpoint(from-large) {
        & {--base-unit: clamp(1rem, 1vw + 0rem, 1.25rem);}
    }
    
    & {--space-3xs: calc(var(--base-unit) * 0.25);}
    & {--space-2xs: calc(var(--base-unit) * 0.5);}
    & {--space-xs: calc(var(--base-unit) * 1);}
    & {--space-s: calc(var(--base-unit) * 1.5);}
    & {--space-m: calc(var(--base-unit) * 2);}
    & {--space-l: calc(var(--base-unit) * 3.5);}
    & {--space-xl: calc(var(--base-unit) * 4);}
    & {--space-2xl: calc(var(--base-unit) * 5);}
    & {--space-3xl: calc(var(--base-unit) * 6);}
    & {--space-4xl: calc(var(--base-unit) * 7.5);}
    
    // layout
    & {--header-height: 104px;}
    & {--underline-offset: 2px;}
    
    // wrappers
    & {--wrapper-max-width: 1600px;}
    & {--wrapper-small-max-width: 860px;}
    & {--grid-margin: 40px;}
    & {--grid-cols: 4;}
    & {--grid-gap: calc(var(--base-unit) * 1.5);}
    @include breakpoint(from-small) {
        & {--grid-margin: 50px;}
        & {--grid-cols: 8;}
    }
    @include breakpoint(from-medium) {
        & {--grid-margin: 60px;}
        & {--grid-cols: 12;}
    }
    @include breakpoint(from-large) {
        & {--grid-margin: 70px;}
    }
    
    // eases
    // & {--speed: 0.3s;}
    & {--bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);}
    // & {--Power1EaseOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);}
    // & {--Power2EaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);}
    // & {--Power3EaseOut: cubic-bezier(0.165, 0.84, 0.44, 1);}
    & {--Power4EaseOut: cubic-bezier(0.23, 1, 0.32, 1);}
    // & {--Power1EaseIn: cubic-bezier(0.55, 0.085, 0.68, 0.53);}
    // & {--Power2EaseIn: cubic-bezier(0.55, 0.055, 0.675, 0.19);}
    // & {--Power3EaseIn: cubic-bezier(0.895, 0.03, 0.685, 0.22);}
    // & {--Power4EaseIn: cubic-bezier(0.755, 0.05, 0.855, 0.06);}
    & {--ExpoEaseOut: cubic-bezier(0.19, 1, 0.22, 1);}
    // & {--ExpoEaseIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);}
    & {--ExpoEaseInOut: cubic-bezier(1, 0, 0, 1);}
    // & {--SineEaseOut: cubic-bezier(0.39, 0.575, 0.565, 1);}
    // & {--SineEaseIn: cubic-bezier(0.47, 0, 0.745, 0.715);}
    // & {--Power1EaseInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);}
    // & {--Power2EaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);}
    & {--Power3EaseInOut: cubic-bezier(0.77, 0, 0.175, 1);}
    & {--Power4EaseInOut: cubic-bezier(0.86, 0, 0.07, 1);}
    // & {--SlowEaseOut: cubic-bezier(0.04, 1.15, 0.4, 0.99);}
    // & {--easing: --Power2EaseOut;}
    // & {--myEase: cubic-bezier(0.15, 0.82, 0, 1);}
}
