.c-answer-card {
    gap: var(--space-xs);
    @include breakpoint(from-medium) {
        justify-content: flex-end;
    }
    
    &__image {
        flex: 1 2 5vw;
        max-width: 56px;
        &-link {
            width: 56px;
            height: auto;
            aspect-ratio: 1 / 1;
            display: block;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: inherit;
            }
        }
    }
    
    &__texts {
        flex: 1 1 50vw;
        &-pseudo {
            font-size: var(--font-s-p);
        }
        &-infos {
            list-style: initial;
            @include breakpoint(to-medium) {
                & > li {
                    &:last-child {
                        list-style: none;
                    }
                }
            }
            & > li {
                &:first-child {
                    list-style: none;
                }
            }
            &-date {
                font-size: var(--font-s-small);
                i {
                    margin-right: var(--space-2xs);
                }
            }
            &-tags {
                flex: 1 1 100%;
                @include breakpoint(from-medium) {
                    flex: 1 1 auto;
                }
                &-list {
                    list-style: initial;
                    & > li {
                        &:first-child {
                            list-style: none;
                        }
                    }
                }
                &-item {
                    font-size: var(--font-s-small);
                }
            }
        }
        &-title {
            * {
                font-family: var(--font-f-heading);
                font-size: var(--font-s-h6);
                font-weight: var(--font-w-h6);
                line-height: var(--font-lh-h6);
                letter-spacing: var(--font-ls-h6);
            }
        }
        &-text {
            * {
                margin: var(--space-xs) 0;
            }
        }
    }

    &__comment {
        flex: 1 1 100%;
        border-top: solid 1px rgba(0, 177, 170, 0.4);
        &-form {
            @include breakpoint(from-medium) {
                max-width: calc(100% - 5vw);
                margin-left: auto;
            }
        }
        .c-form {
            &__field {
                &-label {
                    font-family: var(--font-f-heading);
                    font-size: var(--font-s-p);
                    font-weight: var(--font-w-h6);
                    line-height: var(--font-lh-h6);
                    letter-spacing: var(--font-ls-h6);
                }
            }
            &__cancel,
            &__submit {
                grid-column: auto;
            }
            &__cancel {
                grid-column-end: -2;
            }
            &__submit {
                grid-column-end: -1;
            }
        }
    }
}
