.c-button {
    &--alt {
        .c-button__link {
            background-color: var(--color-yellow);
            &:hover {
                color: var(--color-night);
                border-color: var(--color-white);
                background-color: var(--color-white);
            }
        }
    }
    &--icon {
        .c-button__link {
            display: flex;
            gap: var(--space-2xs);
            // &-icon {}
            // &-text {}
        }
    }
    
    &__link {
        width: fit-content;
        display: block;
        color: var(--color-night);
        border: solid 2px var(--color-yellow);
        background-color: var(--color-yellow);
        &:is(button) {
            width: 100%;
            cursor: pointer;
            .c-button__link-icon {
                width: 68px;
                height: auto;
            }
        }
        &:hover {
            border-color: var(--color-night);
        }
        // &-icon {}
        // &-text {}
    }
    
    &--yellow {
        .c-button__link {
            color: var(--color-night);
            border-color: var(--color-yellow);
            background-color: var(--color-yellow);
            &:hover {
                border-color: var(--color-night);
            }
        }
        &--alt {
            .c-button__link {
                background-color: var(--color-yellow);
                &:hover {
                    color: var(--color-night);
                    border-color: var(--color-white);
                    background-color: var(--color-white);
                }
            }
        }
    }
    
    &--night {
        .c-button__link {
            color: var(--color-white);
            border-color: var(--color-night);
            background-color: var(--color-night);
            &:hover {
                color: var(--color-night);
                border-color: var(--color-night);
                background-color: var(--color-white);
            }
        }
    }
    
    &--white {
        .c-button__link {
            color: var(--color-night);
            border-color: var(--color-night);
            background-color: var(--color-white);
            &:hover {
                color: var(--color-white);
                border-color: var(--color-night);
                background-color: var(--color-night);
            }
        }
    }
}
