.c-form {
    display: grid;
    -moz-column-gap: var(--grid-gap);
    -moz-row-gap: var(--grid-gap);
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
    &__field {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
        // &--text {}
        // &--select {}
        &--checkbox {
            flex-direction: row;
        }
        // &--email {}
        // &--password {}
        &--remember {
            @include breakpoint(from-medium) {
                grid-column: span 6;
            }
        }
        // &--search {}
        // &--filter {}
        &-label {
            cursor: pointer;
        }
        &-input {
            padding: 16px;
            border: solid 1px rgba(18, 49, 78, 0.2);
            border-radius: var(--space-2xs);
            cursor: pointer;
            transition: 0.5s var(--Power4EaseOut);
            &:hover {
                border-color: rgba(18, 49, 78, 0.5);
            }
            &:focus,
            &:active {
                border-color: var(--color-night);
            }
        }
        &-filter {
            text-align: right;
            border: none;
        }
    }
    
    &__link {
        grid-column: 1 / -1;
        display: flex;
        a {
            font-size: var(--font-s-small);
            font-weight: var(--font-w-p);
        }
        &--forgot {
            @include breakpoint(from-medium) {
                grid-column: span 6;
                justify-content: flex-end;
            }
        }
        &--register {
            @include breakpoint(from-medium) {
                justify-content: center;
            }
        }
    }
    
    &__submit {
        grid-column: 1 / -1;
    }
}
