.c-menu {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    list-style: none;
    &--row {
        @include breakpoint(from-medium) {
            flex-direction: row;
        }
    }
    
    &__item {
        &.active &-link {
            &::before {
                transform-origin: bottom left;
                transform: scaleX(1);
            }
        }
        &-link {
            position: relative;
            color: var(--color-white);
            font-weight: var(--font-w-500);
            line-height: 1.2;
            text-decoration: none;
            white-space: nowrap;
            &::before {
                content: '';
                height: 2px;
                position: absolute;
                bottom: -1px;
                right: 0;
                left: 0;
                background-color: var(--color-white);
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform 0.5s var(--Power4EaseOut);
            }
            &:hover {
                &::before {
                    transform-origin: bottom left;
                    transform: scaleX(1);
                }
            }
        }
    }
}
