.c-pagination {
    gap: var(--space-2xs);
    
    &__prev,
    &__next {
        width: 40px;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        &:hover {
            color: var(--color-white);
            background-color: var(--color-night);
            .c-pagination__prev-icon *,
            .c-pagination__next-icon *{
                fill: var(--color-white);
            }
        }
        // &-icon {}
    }
    // &__prev {}
    // &__next {}
    &:has(.c-pagination__pages-item--active:first-child) & {
        &__prev {
            display: none;
        }
    }
    &:has(.c-pagination__pages-item--active:last-child) & {
        &__next {
            display: none;
        }
    }
    
    &__pages {
        gap: var(--space-2xs);
        list-style: none;
        &-item {
            width: 40px;
            height: auto;
            aspect-ratio: 1 / 1;
            display: block;
            border-radius: 100%;
            background-color: var(--color-white);
            transition: 0.5s var(--Power4EaseOut);
            &:hover,
            &--active {
                color: var(--color-white);
                background-color: var(--color-night);
            }
            &--more {
                &:hover {
                    color: inherit;
                    background-color: inherit;
                }
            }
        }
        &-link {
            width: 100%;
            height: 100%;
            color: inherit;
            border-radius: inherit;
        }
    }
}