.c-topic-card {
    gap: var(--space-xs);
    border: none;
    border-top: solid 1px;
    border-color: rgba(0, 177, 170, 0.4) !important;
    @include breakpoint(from-medium) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__image {
        flex: 1 2 5vw;
        max-width: 56px;
        &-link {
            width: 56px;
            height: auto;
            aspect-ratio: 1 / 1;
            display: block;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: inherit;
            }
        }
    }
    
    &__texts {
        flex: 1 1 50vw;
        @include breakpoint(from-medium) {
            flex: 1 2 auto;
        }
        &-title {
            font-size: var(--font-s-p);
        }
        &-infos {
            gap: var(--space-2xs);
            & > * {
                gap: inherit;
                &::before {
                    content: '';
                    width: 3px;
                    height: 3px;
                    aspect-ratio: 1 / 1;
                    display: block;
                    border-radius: 100%;
                    background-color: var(--color-night);
                }
                &:first-of-type {
                    &::before {
                        content: none;
                    }
                }
            }
            &-pseudo {
                opacity: 0.8;
                a {
                    font-size: var(--font-s-small);
                    font-weight: var(--font-w-400);
                }
            }
            &-date {
                gap: 0;
                &-icon {
                    margin: 0 var(--space-3xs) 0 var(--space-2xs);
                }
                &-text {
                    font-size: var(--font-s-small);
                    opacity: 0.8;
                }
            }
            &-tags {
                flex: 1 1 100%;
                gap: var(--space-2xs);
                @include breakpoint(from-medium) {
                    flex: 1 1 auto;
                }
                &-item {
                    gap: inherit;
                    &::before {
                        content: '';
                        width: 3px;
                        height: 3px;
                        aspect-ratio: 1 / 1;
                        display: block;
                        border-radius: 100%;
                        background-color: var(--color-night);
                    }
                    &:first-of-type {
                        &::before {
                            content: none;
                        }
                    }
                }
                &-text {
                    font-size: var(--font-s-small);
                    line-height: var(--font-lh-small);
                    opacity: 0.8;
                }
            }
        }
    }
    
    &__metas {
        @include breakpoint(from-medium) {
            margin-top: 0;
            flex: 1 2 15vw;
            flex-direction: column;
            gap: var(--space-xs);
        }
        &-comments,
        &-views {
            gap: var(--space-2xs);
            // &-icon {}
            &-text {
                font-weight: var(--font-w-h6);
            }
        }
        // &-comments {}
        // &-views {}
    }
}
