.c-topic-card {
    gap: var(--space-xs);
    border: none;
    border-top: solid 1px;
    border-color: rgba(0, 177, 170, 0.4) !important;
    
    &__image {
        flex: 1 2 5vw;
        max-width: 56px;
        &-link {
            width: 56px;
            height: auto;
            aspect-ratio: 1 / 1;
            display: block;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: inherit;
            }
        }
    }
    
    &__texts {
        &-title {
            font-size: var(--font-s-p);
        }
        &-infos {
            list-style: initial;
            & > li {
                &:first-child {
                    list-style: none;
                }
            }
            &-pseudo {
                * {
                    font-size: var(--font-s-small);
                    font-weight: var(--font-w-400);
                }
            }
            &-date {
                font-size: var(--font-s-small);
                i {
                    margin-right: var(--space-2xs);
                }
            }
            &-tags {
                &-list {
                    list-style: initial;
                    & > li {
                        &:first-child {
                            list-style: none;
                        }
                    }
                }
                &-item {
                    font-size: var(--font-s-small);
                }
            }
        }
    }
    
    &__metas {
        flex: 1 2 15vw;
        gap: calc(var(--grid-gap) / 3);
        @include breakpoint(from-medium) {
            flex-direction: column;
        }
        &-comments,
        &-views {
            font-weight: var(--font-w-h6);
            i {
                margin-right: var(--space-2xs);
            }
        }
        // &-comments {}
        // &-views {}
    }
}
